.checkout-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
}

.checkout-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.checkout-cart-summary, .checkout-shipping {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    padding: 20px;
}

.checkout-item {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}

.checkout-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 10px;
}

.checkout-details h4 {
    margin: 0;
    font-size: 16px;
    color: #000;
}

.checkout-details p {
    margin: 2px 0;
    font-size: 14px;
    color: #333;
}

.shipping-form input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.payment-button {
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
    width: 10%;
    margin-right: 10px;
}

.payment-button:hover {
    background-color: #49bf8c;
    color: rgb(255, 255, 255);
}

.cl {
    color: rgb(0, 0, 0);
}

.vegosszeg {
    margin-top: 40px;
}

.checkout-cart-summary {
    flex: 1; /* Nagyobb lesz a bal oldal */
    min-width: 400px; /* Minimális szélesség */
    background-color: #fff;
    padding: 20px;
}

.checkout-shipping {
    flex: 1; /* Kisebb lesz a jobb oldal */
    min-width: 300px;
    background-color: #fff;
    padding: 20px;
}

.checkout-content {
    display: flex;
    gap: 30px; /* Nagyobb távolság a két rész között */
    align-items: flex-start; /* Felül igazítja a két részt */
    justify-content: center; /* Középre igazítja az egész tartalmat */
}

.vissza {
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 15px;
    transition: background 0.3s;
    width: 10%;
}

.vissza:hover {
    background-color: #e81d1d;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .payment-button, .vissza {
        width: 25%;
        max-width: none;
    }
}