.favorites-page {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: ghostwhite;
}

.cl {
  color: rgb(0, 0, 0);
}

.favorite-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; /* Kitölti a rendelkezésre álló helyet */
}
  
  .favorite-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
  }
  
  .favorite-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .favorite-button {
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .remove-favorite {
    background: red;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }

.back {
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    background-color: ghostwhite;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    margin-top: auto; /* A gomb az aljára kerül */
    margin-bottom: 20px; /* Ad egy kis távolságot az oldal aljától */
    text-align: center;
    transition: background 0.3s;
}

  .back:hover {
    background-color: #49bf8c;
    color: rgb(255, 255, 255);
  }