.hero-text-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  
  .hero-text {
    font-size: 2rem;
    font-weight: 700;
    color: #f9f9f9;
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 1.5s ease-out forwards;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(300px);
    }
  }
  
  @media (max-width: 768px) {
    .hero-text {
        font-size: 1rem; /* Kisebb betűméret */
        max-width: 80%; /* Kicsit szélesebb szöveg, de még mindig korlátozott */
        top: 60%; /* Lejjebb tolás, hogy ne csússzon bele */
        transform: translate(-50%, -40%); /* Finomhangolt középre helyezés */
    }
}