
.modal-content {
    border-radius: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 20px;
    background: #f8f9fa;
}


.modal-header {
    color: black;
    text-align: center;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
}


.form-control {
    border-radius: 50px;
    border: 2px solid #ced4da;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding: 10px;
}


.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.text-danger {
    font-size: 14px;
    margin-top: 5px;
    color: #dc3545;
}


.text-success {
    font-size: 14px;
    margin-top: 5px;
    color: #28a745;
}


.btn-primary {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border-radius: 50px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    border: none;
    transition: all 0.3s ease-in-out;
}


.btn-primary:hover {
    background-color: #49bf8c;
    color: rgb(255, 255, 255);
}


@media (max-width: 576px) {
    .modal-content {
        padding: 15px;
    }

    .modal-title {
        font-size: 20px;
    }

    .form-control {
        font-size: 14px;
        padding: 8px;
    }

    .btn-primary {
        font-size: 16px;
        padding: 10px;
    }
}
